@font-face 
  font-family: 'icomoon'
  src: url('#{$icon-font-path}/icomoon.woff2') format('woff2'), url('#{$icon-font-path}/icomoon.woff') format('woff'), url('#{$icon-font-path}/icomoon.ttf') format('truetype')
  font-display: swap
  font-style: normal

.icon
  font-family: 'icomoon'
  font-style: normal
  -webkit-font-smoothing: antialiased
  
.icon-pencil:before
  content: "\e905"

.icon-envelop:before
  content: "\e945"

.icon-mobile:before
  content: "\e958"

.icon-bubbles4:before
  content: "\e970"

.icon-handshake:before
  content: "\e900"

.icon-key:before
  content: "\e98d"

.icon-stats-dots:before
  content: "\e99b"

.icon-menu:before
  content: "\e9bd"

.icon-attachment:before
  content: "\e9cd"

.icon-wink:before
  content: "\e9e7"

.icon-question:before
  content: "\ea09"

.icon-google:before
  content: "\ea88"

.icon-facebook:before
  content: "\ea90"

.icon-twitter:before
  content: "\ea96"

.icon-rss:before
  content: "\ea9b"

.icon-github:before
  content: "\eab0"

.icon-linkedin2:before
  content: "\eaca"

.icon-reddit-alien:before
  content: "\f281"
