table
  border-collapse: collapse
  margin: $small-spacing auto
  width: auto

caption
  caption-side: bottom
  margin: $xsmall-spacing auto


th
  font-weight: 600

th,
td
  padding: 3px  2px
  border: $base-border
  font-size: 90%

  +media($phone-large)
    padding: .5rem  .8rem
    font-size: 95%

td,
th
  vertical-align: middle