h1
  color: $blue
  font-size: 1.9em

li
  margin: $small-spacing 0

.post-list
  margin-top: $big-spacing
    
  .post
    cursor: pointer

    &-meta
      margin-top: $xsmall-spacing

    .noimage
      width: intrinsic
      width: max-content
      max-width: 100%
      margin: auto

    a
      color: $base-font-color

      &:hover,
      &:active,
      &:focus
        color: $action-color

    +media($tablet-small)
      padding-left:  $small-spacing *3
      padding-right:  $small-spacing *3

      &-meta
        margin-top: 0

    &-thumbnail
      display: block
      margin: $xsmall-spacing auto $small-spacing auto
      border-radius: $base-border-radius

      +media(470px)
        margin: 0 $mid-spacing 0 0
        float: left

      +media($tablet-small)
        margin-right: $base-spacing

    &-title
      margin: 0
      padding: 0
      color: $green
      font-size: 1.55rem
      text-align: center

      +media(470px)
        text-align: left
        font-size: 1.25rem

      +media($tablet-small)
        font-size: 1.65rem

    p
      margin-top: $xsmall-spacing

  .post:hover
    box-shadow: -1px 2.5px 8px 0 rgba(0,0,0,0.4)
    transform: translate(0px, -2px)

.pagination
  text-align: center
  margin: $base-spacing 0 0

  li
    padding: 0 .4em

  li, a, span
    display: inline-block

  a, span
    font-size: 0.8rem

  span.page-number
    color: $gray
    font-style: italic
