.post-share
  margin: $small-spacing $base-spacing 0 0

  a
    display: inline-block
    margin: 0 $xsmall-spacing

  .icon
    font-size: 115%

  em
    display: none

    +media($phone-large)
      display: inline

.relatedPosts
  margin-top: $xsmall-spacing

  h4
    font-size: 1.2em
  a 
    font-weight: 600
    display: block
    margin: $small-spacing 0

.question
  color: #618930
  font-size: 1.2em