  <meta itemprop="name" content="How to check SEO pagination on your website?">
  <ol class="emphasis" >
    <li itemprop="step" itemscope itemtype="http://schema.org/HowToStep"><strong itemprop="name" class="under">Make sure bots consider URLs to be unique</strong>. <span itemprop="text">Each page in the chain must have its own web address. For URL generation, you <b>shouldn’t use #hash fragments</b> ("#page=2") because, technically, they don’t change the location.</span> 
    <ul><li><span>On this site, the subdirectories are used in URL construction: "/en/page=2/". <b>NB!</b> Do not create addresses with "/page=1/", because the first page is the category page. Otherwise, we would have a duplicate content issue.</span></li></ul>
    </li>
    <li itemprop="step" itemscope itemtype="http://schema.org/HowToStep"><strong itemprop="name" class="under">Check the canonical link’s href</strong>. <span itemprop="text">The canonical version of the pagination page should be the page itself, never the first page. This is what Google recommends in its “Pagination Best Practices”.</span> 
    <ul><li><span>This page’s canonical points to the same URL as you can see in the address bar; it follows the template &lt;link&#160;rel="canonical" href="https://domain-name/page=2/"&gt;. Here is one more pagination URL example with query parameters: "https://domain-name?page=2/".</span></li></ul>
    </li>
    <li itemprop="step" itemscope itemtype="http://schema.org/HowToStep"><strong itemprop="name" class="under">Ensure that the robots’ meta-tag doesn’t contain noindex</strong>. <span itemprop="text">Do not block pagination from indexing in the meta tags for robots or in HTTP headers, either.</span> 
    <ul itemscope itemtype="https://schema.org/FAQPage"><li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><span>There is no directive  &lt;meta name="robots" content="noindex"&gt; in the &lt;head&gt; of this page. 
      I think the answer to the question <span itemprop="name">“Should paginated pages be indexed?”</span> is <span itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><span itemprop="text">“Sure, except for very special reasons”. Actually, Google’s guidelines do not prohibit excluding pagination from index. But you can’t be confident that the search engine will count links from a noindexed page (see twit <a href="https://twitter.com/methode/status/1339633778831093761">by Gary Illyes</a>). Google has the ability to consider such dofollow links, but makes no promises to do that.</span></span></span></li></ul>
    </li>
    <li itemprop="step" itemscope itemtype="http://schema.org/HowToStep"><strong itemprop="name" class="under">Check URLs in "next" and "prev" link hints, but this is optional</strong>. <span itemprop="text">As it turned out in 2019, Google hadn’t used these hints in a long time. But Bing confirmed (see <a href="https://twitter.com/CoperniX/status/1108790528773021696">employee tweet</a>) that it does take them into account to “better understand site structure”.</span> 
    <ul><li><span>That is, in the search index, pagination pages won’t be combined; each one will be there for itself. For me, the "prev" and "next" buttons are enough to understand the structure of the site if the pagination chain isn’t long. That’s why on this blog, the &lt;link&#160;rel="next" href="URL"&gt; and &lt;link&#160;rel="prev" href="URL"&gt; cues are not implemented.</span></li></ul>
    </li>
    <li itemprop="step" itemscope itemtype="http://schema.org/HowToStep"><strong itemprop="name" class="under">Create a template for titles, descriptions, and h1</strong>, <span>or use the same as the 1st page has.</span> <span itemprop="text">Headers and descriptions of paginated pages do not have to be different; Google <a href="https://developers.google.com/search/docs/specialty/ecommerce/pagination-and-incremental-page-loading">makes that clear</a>. However, you have to be guided by the type of content.</span> 
    <ul><li><span>For example, in SEO pagination of a list of blog posts, the uniqueness of the headers isn’t crucial. It all depends on which queries you want to see the “deeper pages” on SERP. For the pagination of this blog, titles and descriptions are generated automatically and only differ by page number. On this page, only the h1 header is configured. Overall, if your CMS allows you to edit the meta tags of paginated pages, it’s worth taking the opportunity to rank higher for some keywords. Just be careful not to cannibalize keys from the first page of the chain.</span></li></ul>
    </li>
  </ol>
  <p>To see the html code of this page in your browser, press <b>Ctrl+U</b> or type <b>view-source:</b> in the address bar just before the URL.</p>
  <span itemprop="tool" itemtype="http://schema.org/HowToTool" itemscope><meta itemprop="name" content="web-browser"></span>
  <span itemprop="tool" itemtype="http://schema.org/HowToTool" itemscope><meta itemprop="name" content="CMS or code access"></span>
  <span itemprop="tool" itemtype="http://schema.org/HowToTool" itemscope><meta itemprop="name" content="your attention"></span> 
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@graph": [
      {
        "@type": "BlogPosting",
        "image": "{{ site.url }}/images/posts/large/pagination.jpg", 
        "url": "{{ site.url }}/en/page=2/",
        "mainEntityOfPage": "True", 
        "headline": "SEO checklist for the pagination on your website",  
        "alternativeHeadline": "Website pagination checkup: taking care of users and search bots",
        "datePublished": "2022-12-07 00:03:00 +0000",
        "dateModified": "2022-12-07 00:03:00 +0000",
        "inLanguage": "English",
        "isFamilyFriendly": "true",
        "author": {
          "@type": "Person",
          "name": "{{ site.author.name }}",
          "JobTitle": "{{ site.author.job }} Specialist",
          "sameAs": "{{site.author.twitter}}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "{{ site.name }}",
          "@id": "{{ site.url }}/#organization",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ site.url }}/apple-touch-icon.png",
            "width":"240",
            "height":"240"
          }
        }, 
        "keywords": "pagination checkup",
        "articleSection": "On-page SEO, Google"
      },
      {
            "@type": "ImageObject",
            "@id": "/en/page=2/#image",
            "url": "{{ site.url }}/images/posts/large/pagination.jpg",
            "width": 1200,
            "height": 630
      }
    ]
  }</script>