---
layout: default
---
<div class="main-container">
  <div class="about container">
    <div class="intro clf">
    	<img width="84" src="{{ site.url }}{{ site.author.thumb }}" alt="Author's avatar" class="dot">
      <p><em>{{ page.intro }}</em></p> 
      <div class="txt-left">
      	<ul class="social txt-center">
          <li><a href="{{ site.author.github }}" target="_blank" rel="noopener" aria-label="Github Account"><i class="icon icon-github"></i></a></li>
          <li><a href="{{ site.author.twitter }}" target="_blank" rel="noopener" aria-label="Twitter"><i class="icon icon-twitter"></i></a></li>
          <li><a href="{{ site.author.email }}" target="_blank" rel="noopener" aria-label="Drop me a line"><i class="icon icon-envelop"></i></a></li>
        </ul>&nbsp; <em>{{ site.t.bye[page.lang] }}! {{ site.author.name }}, {{ site.author.job }}</em>
      </div>
    </div>
    <div class="card">
      {{ content }}
    </div>
  </div>
</div> {% if page.lang == 'uk' %}
<script nonce="about">{%- include redirect.js -%}</script>{% endif %}
{%- comment -%} js changes the language if the referrer =/= our domain, navigator.languages exists, and it doesn't contain uk-**.
{%- endcomment -%}

{% include schema_about.JSON %}


