---
layout: pages
---
<h1 class="txt-center">{{page.h1}}</h1>
{{ content }}
<div id="cat-shelter"></div>
<div class="post-list" data-nosnippet>
  {%- for post in paginator.posts -%}
    <div class="post card clf">
	  {%- if post.image -%}
	  <img class="post-thumbnail" src="/images/preview/{{ post.image }}" alt="{{ site.data.t.preview[page.lang] }} {{ post.tags[0] }}" loading="lazy">
	  {%- endif -%}
	  <div class="post-content">
	    <header {% unless post.image %}class="noimage"{% endunless %}>
	      {%- if post.snippet_header -%}
	      	{%- assign h2 = post.snippet_header -%}
	      {%- elsif post.h1 -%}
	      	{%- assign h2 = post.h1 -%}
	      {%- else -%}
	      	{%- assign h2 = post.title -%}
	      {% endif %}
	      <a href="{{ post.url }}"><h2 class="post-title">{{h2}}</h2></a>
	      <div class="post-meta">
	        <small><time>
	          {%- if page.lang == "en" -%}{{ post.date | date: "%b %-d, %Y" }}{%- else -%}{%- include dates.html date=post.date -%}{%- endif -%}
	        </time></small>
	      </div>
	    </header>
	    <p>{%- if post.snippet -%}{{ post.snippet | strip_html }}..{%- else -%}{{ post.content | strip_html | truncatewords:40 }}{%- endif -%}</p>
	  </div>
	</div>
  {%- endfor -%}
  {%- if paginator.total_pages > 1 -%}
	<nav class="pagination" role="pagination">
	  <ul>
	    {%- if paginator.previous_page -%}
	      <li><a class="prev button-ghost" href="{{ paginator.previous_page_path }}" title="Newer">&#10094;&#10094;</a></li>
	    {%- else -%}
	      <li><span class="prev button-ghost disabled">&#10095;&#10095;</span></li>
	    {%- endif -%}
	    <li><span class="page-number"> {{paginator.page}} of {{paginator.total_pages}}</span></li>
	    {%- if paginator.next_page -%}
	      <li><a class="next button-ghost" href="{{ paginator.next_page_path }}" title="Older">&#10095;&#10095;</a></li>
	    {%- else -%}
	      <li><span class="next button-ghost disabled">&#10094;&#10094;</span></li>
	    {%- endif -%}
	  </ul>
	</nav>
  {%- endif -%}
</div>
{%- include cat.html -%}

{%- comment -%} js changes the language if the referrer =/= our domain, navigator.languages exists, and it doesn't contain uk-**.
{%- endcomment -%}
<script nonce="blog">{%- if page.lang == 'uk' -%}{%- include redirect.js -%}{%- endif -%}
	document.querySelector(".post-list").addEventListener("click",function(e){var t=e.target.closest(".post");t&&t.querySelector("header a").click()});
</script>
{%- include schema_blog.JSON -%}
