---
layout: pages
---
<h1 class="txt-center">{{page.h1}}</h1>
{{ content }}
<div id="cat-shelter"></div>
<div class="post-list" data-nosnippet>
  {%- for post in paginator.posts -%}
    <div class="post card clf">
	  {%- if post.image -%}
	  <img class="post-thumbnail" src="/images/preview/{{ post.image }}" alt="{{ site.data.t.preview[page.lang] }}{{ forloop.index }}" loading="lazy">
	  {%- endif -%}
	  <div class="post-content">
	    <header {% unless post.image %}class="noimage"{% endunless %}>
	      {%- if post.snippet_header -%}
	      	{%- assign h2 = post.snippet_header -%}
	      {%- elsif post.h1 -%}
	      	{%- assign h2 = post.h1 -%}
	      {%- else -%}
	      	{%- assign h2 = post.title -%}
	      {% endif %}
	      <a href="{{ post.url }}"><h2 class="post-title">{{h2}}</h2></a>
	      <div class="post-meta">
	        <small><time>
	          {%- if page.lang == "en" -%}{{ post.date | date: "%b %-d, %Y" }}{%- else -%}{%- include dates.html date=post.date -%}{%- endif -%}
	        </time></small>
	      </div>
	    </header>
	    <p>{%- if post.snippet -%}{{ post.snippet | strip_html }}..{%- else -%}{{ post.content | strip_html | truncatewords:40 }}{%- endif -%}</p>
	  </div>
	</div>
  {% endfor %}
  {% include pagination.html %}
</div>
{%- include cat.html -%}

{%- comment -%} 
	JS changes the language if the referrer =/= our domain, Navigator.languages exists and doesn't contain uk-**.
{%- endcomment -%}
<script>{%- if page.lang == 'uk' -%}{%- include redirect.js -%}{%- endif -%}document.querySelector(".post-list").addEventListener("click",function(e){var t=e.target.closest(".post");t&&t.querySelector("header a").click()});var cat=document.getElementsByClassName("cat")[0];setTimeout(function(){cat.classList.add("live")},2500),cat.addEventListener("click",function(){this.removeChild(this.getElementsByTagName("span")[0]),this.classList.add("vanish");var t=document.getElementById("cat-shelter");cat.closest("#cat-shelter")?setTimeout(function(){t.previousElementSibling.style.paddingBottom="0"},800):setTimeout(function(){cat.previousElementSibling.style.paddingBottom="0",t.appendChild(cat),window.matchMedia("(max-width: 970px)").matches&&(t.previousElementSibling.style.paddingBottom="1.32em"),cat.classList.remove("vanish")},800)})</script>
{%- include schema_blog.JSON -%}