---
layout: pages
---

<article class="post">
  <div class="card">
    <h1> {{ page.h1 }} </h1> 
	<div class="post-meta">
	<small>
	    <time datetime="{{ page.date | date:'%F' }}">
	    {%- if page.lang == "en" -%}
		    {{ page.date | date: "%b %-d, %Y" }}
		    {%- assign words_per_min = 220 -%}
		{%- else -%}
			{%- include dates.html date = page.date -%}
			{%- assign words_per_min = 180 -%}
		{%- endif -%}</time>
	    •&ensp;{{ page.content| number_of_words| divided_by: words_per_min }}&nbsp;{{site.data.t.minRead[page.lang]}}{%- if page.author -%} • {{ page.author }}{%- endif -%}
	</small>
	</div>
    <div class="post-content"{% if page.schema %} itemscope itemtype="https://schema.org/{{ page.schema }}"{% endif %}> {{ content }} </div>
	<script src="/assets/post.min.js" defer></script>
	<div class="bottom-nav-and-buttons">
		{% include post_share.html %}
		{% include breadcrumbs.html %}
	</div>
    {% include related_posts.html %}
    {% include comments.html %}
  </div>
{% include schema_post.JSON %}
</article>
{% if page.modal =="needed" %} 
<div id="modal">
  <img class="content" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="modal" >
  <span class="close">&times;</span>
</div>{% endif %}