---
layout: pages
---

<article role="article" class="post" {% if page.faq %}itemscope itemtype="https://schema.org/FAQPage"{% endif %}>
  <div class="card">
    <h1 class="post-title"> {{ page.h1 }} </h1> 
	<div class="post-meta">
	<small>
	    <time datetime="{{ page.date | date:'%F' }}">
	    {%- if page.lang == "en" -%}
		    {{ page.date | date: "%b %-d, %Y" }}
		    {%- assign words_per_min = 220 -%}
		{%- else -%}
			{%- include dates.html date = page.date -%}
			{%- assign words_per_min = 180 -%}
		{%- endif -%}</time>
	    •&ensp;{{ page.content| number_of_words| divided_by: words_per_min }}&nbsp;{{site.data.t.minRead[page.lang]}}{%- if page.author -%} • {{ page.author }}{%- endif -%}
	</small>
	</div>
    <div class="post-content"> {{ content }} </div>

	<div class="post-share txt-right"> {%- assign full_url=post.url | prepend: site.url -%}{%- assign param_title = page.title | uri_escape -%}
	  <em>{{site.data.t.share[page.lang]}}:&nbsp;</em>
	  <a href="https://facebook.com/sharer.php?u={{full_url}}" rel="nofollow"><i class="icon icon-facebook" aria-label="Share on Facebook"></i></a>
	  <a href="https://twitter.com/intent/tweet?text={{param_title}}&url={{full_url}}" rel="nofollow"><i class="icon icon-twitter" aria-label="Share on Twitter"></i></a>
	  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{full_url}}&title={{param_title}}&source=LinkedIn" rel="nofollow"><i class="icon icon-linkedin2" aria-label="Share on LinkedIn"></i></a>
	  <a href="https://www.reddit.com/submit?url={{full_url}}&title={{param_title}}" rel="nofollow"><i class="icon icon-reddit-alien" aria-label="Share on Reddit"></i></a>
	  <a href="mailto:?Subject=Do%20your%20own%20SEO%20blog%20post&body={{param_title}}" rel="nofollow"><i class="icon icon-envelop" aria-label="Mail this"></i></a>
	</div>
    {% include related_posts.html %}
    {% include comments.html %}
<script src="/assets/comments.min.js"></script>
  </div>
{% include schema_post.JSON %}
</article>