<div class="cat"><span class="hidden">{{site.t.cat[page.lang]}}</span>
  <div class="body co"></div>
  <div class="head co">
    <div class="ear"></div>
    <div class="ear"></div>
  </div>
  <div class="face co">
    <div class="nose"></div>
    <div class="whi-cont">
      <div class="whi"></div>
      <div class="whi"></div>
      <div class="whi"></div>
    </div>
    <div class="whi-cont">
      <div class="whi"></div>
      <div class="whi"></div>
      <div class="whi"></div>
    </div>
    <div class="eyes"><div class="inner"></div></div>
  </div>
  <div class="tail">
    <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i>
  </div>
  <div class="rug"></div>
</div>
<script>var cat=document.getElementsByClassName("cat")[0];setTimeout(function(){cat.classList.add("live")},3e3),cat.addEventListener("click",function(){this.removeChild(this.getElementsByTagName("span")[0]),this.classList.add("vanish");var t=document.getElementById("cat-shelter");cat.closest("#cat-shelter")?setTimeout(function(){t.previousElementSibling.style.paddingBottom="0"},800):setTimeout(function(){cat.previousElementSibling.style.paddingBottom="0",t.appendChild(cat),window.matchMedia("(max-width: 970px)").matches&&(t.previousElementSibling.style.paddingBottom="1.32em"),cat.classList.remove("vanish")},800)});
</script>