{%- if site.github-repo -%} {%- assign pageurl=page.url | replace: "/", "" -%}
{%- assign comments_lng = "comments_" | append: page.lang -%}
<h3 class="feedback"><i class="icon icon-bubbles4"></i>&ensp;{{ site.data.t.commentSection[page.lang] }}</h3>
  {%- if site.data[comments_lng][pageurl] -%}
  <div id="comments" data-nosnippet>
    {%- assign comments = site.data[comments_lng][pageurl] | where_exp: 'item', 'item.replying_to == empty' | sort: 'date' -%}
    {%- for comment in comments -%}
      {%- assign index       = forloop.index -%}
      {%- assign r           = comment.replying_to -%}
      {%- assign replying_to = r | to_integer -%}

      {%- assign avatar      = comment.avatar -%}
      {%- assign email       = comment.email -%}
      {%- assign name        = comment.name -%}
      {%- assign url         = comment.url -%}
      {%- assign date        = comment.date -%}
      {%- assign message     = comment.message -%}
      {%- include comment_single.html index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date  message=message pageurl=pageurl -%}
    {%- endfor -%}
  </div>
  {%- endif -%}
{% include comment_form.html %}
{%- endif -%}