<div id="modal">
  <img class="content" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="></img>
  <span class="close">&times;</span>
</div>
<script>var m=document.getElementById("modal"),t=document.getElementById("trigger"),c=document.querySelector("#modal .content");t.onclick=function(){c.src=this.dataset.src;m.style.display="block"};m.onclick=function(e){if(e.target.tagName!=="IMG"){m.style.display="none"}}</script>
<style>#trigger{cursor:pointer;color:#0e6a99;background:none;padding:0 2px 4px;font-weight:normal;font-size:1em}#modal{display:none;overflow:auto;position:fixed;z-index:101;padding-top:70px;left:0;top:0;width:100%;height:100%;background-color:#618930}.content{display:block;margin:auto;max-width:100%}.close{position:absolute;top:0;right:30px;color:#fff;font-size:40px;font-weight:700;cursor:pointer}@media screen and (min-width:1024px){#modal{padding-top:100px}.close{right:50px;font-size:60px}}</style>