  {%- assign full_url= page.url | prepend:site.url -%}{%- assign param_title=page.title | cgi_escape -%}

  {%- comment -%} 
    Trying to create hashtags from page.tags[0] and page.tags[1] 
  {%- endcomment -%}

  {%- assign tags = "" | split: ',' -%}
    {%- for tag in page.tags -%}
      {%- if tag and forloop.index < 3 -%}

          {%- if page.lang=='en' -%}
          {%- assign words = tag | split:" " -%}
          {%- assign t = "" -%}
          {%- for word in words -%} 
            {%- if forloop.index >1 -%}
                {%- assign t = word | capitalize | prepend:t -%}
            {%- else -%}
              {%- assign t = word | prepend:t -%}
            {%- endif -%}
          {%- endfor -%}
        {%- else -%} 
          {%- assign t = tag | replace:" ", "_" -%}
        {%- endif -%}
        {%- assign tags = tags | push: t -%}
      {%- endif-%}
    {%- endfor -%}
  <div class="post-share txt-right" data-proofer-ignore> <em>{{site.data.t.share[page.lang]}}:&nbsp;</em>
    <a rel="nofollow" href="https://t.me/share/url?url={{full_url}}&text={{param_title}}" aria-label="Share on Telegram">
      <i class="icon icon-telegram" aria-hidden="true"></i>
    </a>
    <a rel="nofollow" href="https://facebook.com/sharer.php?u={{full_url}}" aria-label="Share on Facebook">
      <i class="icon icon-facebook" aria-hidden="true"></i>
    </a>
    <a rel="nofollow" href="https://twitter.com/intent/tweet?text={{param_title}}&url={{full_url}}{%-if tags[0]-%}&hashtags={{tags|join:','}}{%-endif-%}" aria-label="Share on Twitter">
      <i class="icon icon-twitter" aria-hidden="true"></i>
    </a>
    <a rel="nofollow" href="https://www.reddit.com/submit?url={{full_url}}&title={{param_title}}&resubmit=true" aria-label="Share on Reddit">
      <i class="icon icon-reddit-alien" aria-hidden="true"></i>
    </a>
    <a rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url={{full_url}}&title={{param_title}}&source={{site.name|uri_escape}}" aria-label="Share on LinkedIn">
      <i class="icon icon-linkedin2" aria-hidden="true"></i>
    </a>
    <a rel="nofollow" href="{{ site.author.email }}?subject={{site.name|uri_escape}}%20blog%20post&body={{param_title}}" aria-label="Mail this">
      <i class="icon icon-envelop" aria-hidden="true"></i>
    </a>
  </div>