<article class="post card clf">
  {%- if post.image -%}
  <figure class="post-thumbnail">
    <img src="/images/preview/{{ post.image }}" alt="Preview for {{ post.title }}">
  </figure>
  {%- endif -%}
  <div class="post-content">
    <header {%unless post.image %}class="noimage"{%endunless%}>
      <a href="{{ post.url }}"><h2 class="post-title">{{ post.h1 }}</h2></a>
      <div class="post-meta">
        <small><time>
          {%- if page.lang == "en" -%}{{ post.date | date: "%b %-d, %Y" }}{%- else -%}{%- include dates.html date=post.date -%}{%- endif -%}
        </time></small>
      </div>
    </header>
    <p>{%- if post.snippet -%}{{ post.snippet | strip_html }}..{%- else -%}{{ post.content | strip_html | truncatewords:40 }}{%- endif -%}</p>
  </div>
</article>
